@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');
.App {
  background: #e9e9e9;
}

.fileName {
  margin-left: 44px;
}
.photoGrid {
  margin-top: 1.5em !important;
  margin: 100%;
  max-width: 800px;
  margin:  0 auto;
}
.cardAdd {
}

.card {
  width: 100%;
}
.card-img {
  height: 200px;
}
.add{
  width: 70%;
  padding: 15px;
}
.add:hover{
  border: 2px dashed black;
}
.input {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.authbtn {
  margin-left: 15px !important;
}
.MuiFormControl-root {
  display: flex !important;
}
.modalPhoto {
 width: 100vh;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
 margin: 0 auto;

}
.modal_header {
  font-family: 'Farro', sans-serif;
}
.cardModal {
  width: 100vh;
}

.MuiButton-text {
  display: flex;
  flex-direction: column;
}
.MuiBackdrop-root {
background: #e3e3e3 !important;
}

.link {
  text-decoration: none;
  color: inherit;
};
